@sections.guide(
    "Pricing FAQ",
    "Pricing is 1 Month's Revenue per Referred Customer. Free Setup, No Monthly Fees, and Just the 1st Month's Revenue from New Referred Customers."
    ) {
    <section id="pricing">
    
        <div class="page-header">
        <h1>Pricing</h1><small>Usage-Based Tiers</small>
        </div>
        
        <h3>How do you define a member?</h3>
        <p>A member is an identified person registered in your customer referral program. To determine the right tier for your business, we suggest you add up the total number of monthly active customers you currently have. The number resets each month so you don't get charged for inactive members.</p>
        
        <div class="well">
            <h4>Pricing Example</h4>
            
            <p>I’m a marketing director looking to buy a referral program for my company that has 25,000 active users. 
Given that usage you would select the Pro Plan, which would cost $1,550 per month. (Base of $800 + $750 at $50/1,000 users)</p> 
        </div>
        
        <h3>How do I get started?</h3>
        <ul>
            <li>First you take a look at our pricing page and find the plan that fits your company.</li>
            <li>Then you enter and validate your email through our sign-up page</li>
            <li>Next you login to the platform, pick your reward type and start customizing your widget.</li>
        </ul>
        <h3>How do you track the referrals?</h3>
        
        <pThe magic behind Referral SaaSquatch is that we track referrals to unique user_id’s and then automatically give rewards using subscription system integrations with our own API. We also provide native integrations with subscription management platforms such as Stripe, Recurly, Braintree, and Zuora.</p> 
        
        <h3>What is a white label theme?</h3>
        
        <p>Our platform gives your users a seamless experience within your product. Our proprietary theming engine lets us adapt your referral program to match the branding, positioning and business needs of your company.</p> 
        
        <h3>Does Referral SaaSquatch work with foreign currencies?</h3>
        
        <p>Yes. We work with any currency that your subscription provider works with. We will charge you in USD at the conversion rate available to us on the day of your invoice.</p> 
        
        <h3>What if I go over my plan limits?</h3>
        
        <p>There's nothing to worry about. If you go over your plan limits, your program will continue to function normally. At the end of your billing period we will contact you to discuss upgrading your plan.</p>
        
        <h3>Can you help with implementation?</h3>
        <p>We will work with your team to get you setup. For advanced implementations there may be an added cost that helps align time and resources towards the project.</p>
    
        <h3>What impact will Referral SaaSquatch have on my product load-time?</h3>
        <p>Referral SaaSquatch is built with speed and reliability at its core. We have a list of best practices that you can use to ensure a quick widget load-time, which can be found <a href="http://docs.referralsaasquatch.com/bestpractices/speed">here</a>.</p>
    </section>
}
